html
  head

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='/javascripts/frontend.js')
  body
    table(style='width:30%', border='1')
      tr
        td Typ
        td=type
      tr
        td Przedmiot
        td=subject
      tr
        td Numer lekcji
        td=topic
      tr
        td Data
        td=date
      tr
        td Nauczyciel
        td=lessonHour
        