html
  head

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='/javascripts/frontend.js')
  body
    table(style='width:30%', border='1')
      tr
        td Ocena
        td=grade
      tr
        td Waga
        td=multiplier
      tr
        td Kategoria
        td=category
      tr
        td Data
        td=date
      tr
        td Przedmiot
        td=lesson
        